# Test Image Folder
**\TestImages\
**\Thumbnails\
**\Thumbnails-People\
**\Thumbnails-Texture\
**\Thumbnails-3D\
**\Thumbnails-3D-PNG\
**\TestSkp\
**\Thumbnails-Faceme\
**\Thumbnails-Faceme-PNG\

# Image Files
*.png
*.jpg

# Other Files
.DS_Store
*.skp
*.pyc
*.pyc
*.zip
